# used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore
Documentation/Screenshots export-ignore
Documentation/Demos export-ignore
Resources/ffmpeg/ffmpeg export-ignore
Resources/ffmpeg/ffprobe export-ignore
