/* header */
.navbar-default {
	background: rgba(255, 255, 255, .95);
}
/* toggle button */
.navbar-toggle {
	width: 44px;
	height: 44px;
}
.appleicons {
	font-family: "Appleicons Text";
	margin: 0 0 0 3px;
	color: #337ab7;
}
.icon-bar {
	margin: 6px 0 4px 4px;
	border-radius: 0px;
	width: 16px;
}
/* SUB NAV */
.nav li, .nav-bordered li, .nav-spaced li {
	display: inline-block;
}
.nav li a, .nav-bordered li a, .nav-spaced li a {
	font-weight: normal;
	top: 3px;
}
@media (min-width: 768px) and (max-width: 991px) { 
.nav > li > a { padding: 17px 10px 15px; }  
}
@media screen and (max-width: 768px) {
.navbar-header button {
	border: none;
	background-color:transparent;
}
button.navbar-toggle.collapsed:hover {
	background-color:transparent;
}
.navbar-collapse {
	white-space: nowrap;
	overflow-x: auto;
	max-height: 50px;
	-webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
}