<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FILEHEADER</key>
	<string>
// ___FILENAME___
// Aural
// 
// Copyright © ___YEAR___ Kartik Venugopal. All rights reserved.
// 
// This software is licensed under the MIT software license.
// See the file &quot;LICENSE&quot; in the project root directory for license terms.
//</string>
</dict>
</plist>
